name: Build and Deploy to Databricks

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Databricks CLI v2
        run: |
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/v0.281.0/install.sh | sudo sh

      - name: Verify Databricks auth
        run: |
          databricks auth describe

      - name: Replace config.json in Volume
        run: |
          databricks fs cp config.json \
          dbfs:/Volumes/workspace/bronze/bronze_volume/brazilian-ecommerce/config.json \
          --overwrite

      - name: Build wheel
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Upload wheel to Volume
        run: |
          WHL_FILE=$(ls dist/*.whl | head -n 1)
          databricks fs cp "$WHL_FILE" \
          dbfs:/Volumes/workspace/bronze/bronze_volume/brazilian-ecommerce/builds/ \
          --overwrite

      - name: Deploy Databricks job
        run: |
          databricks jobs reset --json @databricks_reset_job.json

      - name: Trigger Databricks job
        run: |
          databricks jobs run-now --job-id ${{ secrets.DATABRICKS_JOB_ID }}
